.header {
    width: 100%;
    height: 70px;
    background-color: var(--verdesecundário);
    color: var(--brancosoft);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerLogo {
    height: 42px;

}