body {
    background-color: var(--brancosoft);
}

.imgHead img {
    width: 100%;
}
.sobre {
    width: 100%;
    padding: 40px 240px;
    margin: 4rem;
    background-color: var(--brancosoft);
}

.sobre h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sobre p {
    font-size: 16px;
    text-align: justify;
}

.img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.img p {
    padding: 20px 240px;
    text-align: justify;
}

.docentes {
    width: 100%;
    min-width: 100%;
    padding-left: 240px;
    background-color: var(--brancosoft);
}

.docentes h3 {
    font-size: 40px;
}

.estrutura {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.laboratorios {
    display: flex;
    align-items: center;
    padding-left: 240px;
    padding-top: 30px;
    gap: 3rem;
}

.laboratorios h4 {
  font-size: 40px;
}

.laboratorios p {
    width: 700px;
    text-align: justify;
}

.labomar {
    width: 500px;
    border-radius: 5px;
}

.depoimentos h2 {
    font-size: 40px;
    padding: 5px 240px;
}