.swiper {
  padding: 2rem;
  width: 100%;
}

.swiper-slide-custom {
  width: 52rem !important;
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  scrollbar-width: none;
}
.swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.docentes {
  display: flex;
  flex: none;
  border-radius: 5px;
  width: 50rem;
  gap: 10px;
  background-color: var(--verdesecundario);
  color: var(--brancosoft);
}

.container_image {
  max-width: 180px;
  overflow: hidden;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

 .info h3 {
  font-size: 20px;
  font-weight: bolder;
  display: block;
  text-align: left;
  padding: 10px;
  margin: 10px 0;
}

.info p {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin-bottom: 3rem;
}

.lattes {
  width: fit-content;
  margin: 20px 10px;
  margin-top: auto;
}

.lattes-button {
  background-color: var(--begeprimario); 
  color: var(--verdeterciario);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}

.lattes-button:hover {
  background-color: var(--begesecundario);
}

