.carrossel {
  width: 100%;
  display: flex;
  background-color: var(--brancosoft);;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 5rem;
}

.docentes {
  display: flex;
  flex: none;
  width: 55rem;
  gap: 10px;
  background-color: var(--verdesecundario);
  color: var(--brancosoft);
}

.container_image {
  max-width: 180px;
  overflow: hidden;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

 .info span {
  font-size: 20px;
  font-weight: bolder;
  display: block;
  text-align: left;
  padding: 10px;
  margin: 10px 0;
}

.info p {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin-bottom: 3rem;
}

.lattes {
  display: inline-block;
  align-self: flex-start;
  margin: 20px 10px; 
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #007bff;
  font-size: 14px;
  text-decoration: none;
  margin-top: auto;
}

.lattes a {
  text-decoration: none;
  color: var(--brancosoft);

}