* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: var(--brancosoft);
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heroTexto {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 5rem;
  padding-left: 14rem;
  width: 40%;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}

.hero span {
  font-size: 16px;
  font-weight: lighter;
  padding-top: 1rem;
}

.imgHero {
  position: relative;
  pointer-events: none;
}

.homeNoticias {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 727px;
  background-color: var(--verdesecundario);
  padding: 5rem;
}

.homeNoticias h1 {
  font-size: 40px;
  color: var(--brancosoft);
  padding-left: 14rem;
}

.homeApresentacao {
  width: 100%;
  background-color: var(--brancosoft);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  gap: 4rem;
}

.homeApresentacao p {
  font-size: 24px;
  width: 100%;
  padding-top: 5rem;
  padding-left: 14rem;
  padding-right: 14rem;
  text-align: justify;
}

.grafFolha {
  width: 100%;
  padding-left: 14rem;
  padding-right: 14rem;
}

.homeApresentacao h1 {
  padding-top: 3rem;
  font-size: 40px;
  padding-left: 14rem;
}
