* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: var(--brancosoft);
}

.hero {
  position: relative;
  min-height: 62vh;
  overflow: visible;
}


.heroImageWrapper {
  position: absolute;
  top: -300px;
  right: 0;
  width: 800px;
  z-index: 0;
}

.imgHero {
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 1;
}

.heroTexto {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 5rem;
  padding-left: 14rem;
  width: 45%;
}

.hero h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 5px;
}

.hero span {
  font-size: 16px;
  font-weight: lighter;
  padding-top: 1rem;
  line-height: 150%;
  width: 90%;
}

.homeNoticias {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: var(--verdesecundario);
}

.homeNoticias h1 {
  font-size: 40px;
  color: var(--brancosoft);
  margin-left: 19rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.homeApresentacao {
  background-color: var(--brancosoft);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: 5rem;
}

.homeApresentacao p {
  font-size: 20px;
  width: 100%;
  padding-top: 5rem;
  padding-left: 14rem;
  padding-right: 14rem;
  text-align: justify;
}

.grafFolha {
  display: block;
  width: 100%;
  margin-inline: auto;
  max-width: 80vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.homeApresentacao h1 {
  padding-top: 3rem;
  font-size: 40px;
  padding-left: 14rem;
}

.homeApresentacao span {
  font-size: 20px;
  padding-left: 14rem;
}