.header {
    width: 100%;
    height: 70px;
    background-color: var(--verdesecundario);
    color: var(--brancosoft);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerLogo {
    height: 42px;

}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: var(--brancosoft);
    padding: 24px 30px;
    display: inline-block;
}

.header a:hover {
    color: var(--laranja);
    background-color: var(--verdeterciario);
    transition: 0.5s;
}