.board {
  background-color: var(--begeprimario);
  border-radius: 10px;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;

}

.board h1 {
  margin-bottom: 1rem;
}

.board ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
    overflow-y: auto;
}

.registerButton {
  margin-left: auto;
  margin-top: auto;
}